In [20]:
import pandas as pd
import seaborn as sns

In [21]:
# Import dataset

In [24]:
header_list = ["Points", "Bonuses", "Accuracy", "Speed"]
df = pd.read_csv('kahoot.csv', names=header_list, low_memory=False)
df.head()

   Points  Bonuses  Accuracy  Speed
0  Points  Bonuses  Accuracy  Speed
1   13763     1300        16   15.6
2   14057     1100        16   12.5
3   14998     1400        18   16.4
4   12701     1600        15   15.7

In [25]:
# Scatter plot

In [ ]:
sns.lmplot(x='Bonuses', y='Po', data=df)